.rating {
    display: flex;
    padding: 2rem 3.2rem;
    margin: 0.8rem 0;
    background-color: $color-neutral-light;
    border-radius: 0.8rem;
    max-width: 44.5rem;
    width: 100%;
    min-width: fit-content;
    @include  mobile-small {
        flex-direction: column;
        text-align: center;
        padding: 1.6rem 3.2rem;
    }
    &__stars {
        display: flex;
        justify-content: space-between;
        width: 11.7rem;
        margin-right: 3.2rem;
        align-self: center;
        @include  mobile-small {
            margin-right: 0;
            margin-bottom: 1.6rem;
        }
    }
    &__source {
        font-weight: $font-weight-700;
        color: $color-primary-dark;
    }
}