html {
    padding: 8rem 0;
}

body {
    background: url(../../images/bg-pattern-top-desktop.svg),
            url(../../images/bg-pattern-bottom-desktop.svg);
    
    background-repeat: no-repeat,
            no-repeat;
    background-position: top left,
            bottom right;

    @include mobile-only {
        background: url(../../images/bg-pattern-top-mobile.svg) no-repeat top left,
            url(../../images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    }
}